.topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

.abc {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.normal {
  margin: 0;
  font-family: 'Merriweather', serif;
  color: blue;
}

.normal:hover {
  color: #EAF6F6;
}

hr {
  border-color: grey;
  border-width: 6px;
  border-style: dotted none none;
  width: 4%;
  margin: 100px auto 100px auto;
}

p{
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  width: 30%;
  margin: auto;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 40px auto 120px auto;
  text-align: left;
}

.exp-row {
  width: 60%;
  margin: 20px auto 50px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.profile-img {
  width: 50%;
}

.bern-img {
  float: right;
  margin-left: 30px;
  width: 25%;
  height: 150px;
}

.comp-img {
  margin-right: 30px;
  float: left;
  width: 25%;
}

.LGS {
  margin-right: 30px;
  margin-top: 1%;
  float: left;
  width: 22%;
}

.UCP {
  margin-right: 50px;
  margin-left: 30px;
  float: left;
  width: 16%;
}

.FAST {
  margin-right: 35px;
  margin-left: 15px;
  float: left;
  width: 20%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.bottom-container{
  padding-top: 60px;
}


.end {
  padding: 20px 0;
  font-size: 0.75rem;
  color: #EAF6F6;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 145px;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: -2px 2px 2px 0 #11999E;
   -moz-box-shadow: -2px 2px 2px 0 #11999E;
   box-shadow: -2px 2px 2px 0 #11999E;
   text-shadow: 4px -10px 19px #11999E;
   border: solid #11999E 2px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #66BFBF 2px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
